body{
    background: rgb(25, 32, 36);
}
.container{
    max-width: 500px;
    margin: 0 auto;
}

.header{
    background-color: rgb(61, 78, 85);
    padding: 10px;
}

.header .title{
    color: white;
}

.contents{
    width: 100%;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
}

.card{
    position: relative;
    min-height: 150px;
    padding: 20px;
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn{
    position: absolute;
    width: 100px;
    height: 30px;
    padding: 5px;
    left: 10px;
    bottom: 10px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(38, 50, 56);
    color: white;
    cursor: pointer;
}

.back{
    position: relative;
}

.btn-back{
    top: 10px;
    right: 0;
    margin: 0 auto;
}


/*리스트*/
.items{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1rem;
   padding-top: 10px;
}

.item{
    position: relative;
    height: 100px;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

/*문제*/
.question_container{
    background-color: rgba(255, 255, 255, 0.46);
    color: black;
    border-radius: 0 0 5px 5px;
}

.question{
    padding: 10px;
    background: white;
}


.answer{
    height: 50px;
    margin-bottom: 2px;
    padding-left: 10px;
    box-sizing: border-box;
    background: white;
    line-height: 50px;
}

.main_text{
    padding: 10px;
    line-height: 1.5rem;
}


.next{
    position: relative;
    height: 60px;
}

.next-btn{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(38, 50, 56);
    color: white;
    cursor: pointer;
}

.correct{
    background: yellowgreen;
}

.wrong{
    background: red;
}






